// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none !important;
}

.link-logout {
    color: red !important;
    cursor: pointer;
}

.activity-link {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

.activity-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.add-icon {
    color: black;
    cursor: pointer;
}

.add-icon:hover {
    color: darkgrey;
    cursor: pointer;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: darkgrey!important;
}
